# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/
.dart_tool/
build/
.next/

# Environment
.env
.env.local
.env.*.local

# Flutter
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Fastlane
ios/fastlane/report.xml
ios/fastlane/README.md
ios/fastlane/screenshots/
ios/fastlane/test_output/

# Misc
*.log
